<!DOCTYPE html>
<html>
  <head>
    <!-- Primary Meta Tags -->
    <title>Aurélien Wolz, freelance full-stack web developer</title>
    <meta name="title" content="Aurélien Wolz, freelance full-stack web developer">
    <meta name="keywords" content="association, diabete, enfants, libellule, besancon, chu">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://seao.dev/">
    <meta property="og:title" content="Aurélien Wolz, freelance full-stack web developer">
    <meta property="og:image" content="https://seao.dev/assets/logo.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://seao.dev/">
    <meta property="twitter:title" content="Aurélien Wolz, freelance full-stack web developer">
    <meta property="twitter:image" content="https://seao.dev/assets/logo.png">

    <!-- CSS -->
    <link href="./css/style.css" rel="stylesheet">
  </head>
  <body>

  </body>
</html>